@import "tailwindcss";

:root {
  --black: #0A0908;
  --dark-slate: #22333B;
  --linen: #EAE0D5;
  --tan: #C6AC8F;
  --brown: #5E503F;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--linen);
  color: var(--black);
  font-family: Georgia, 'Times New Roman', serif;
}
